<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhhe9heHvMz0NCYwDWZ3bI_RjPCa7ePDg</string>
	<key>GCM_SENDER_ID</key>
	<string>641896118551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.superCat</string>
	<key>PROJECT_ID</key>
	<string>fidanapp-cea06</string>
	<key>STORAGE_BUCKET</key>
	<string>fidanapp-cea06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641896118551:ios:74fcabef538a48d3211f52</string>
</dict>
</plist>